{
    "env": {
        "browser": true,
        "es2021": true,
        "jest": true
    },
    "parser": "@babel/eslint-parser",
    "extends": ["airbnb"],
    "rules": {
        "allowIndentationTabs": true
    }
}