
.bg-image-container {
	display: flex;
	justify-content: center;
}
.bg-image {
	position: fixed;
	margin: auto;
	margin-top: 5vw;
	margin-left: 0.5vw;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100vw;
	height: auto;
	z-index: -999;
	opacity: 0.1;
}

@media only screen and (max-width: 1000px) {
	.bg-image {
		opacity: 0.15;
		background-repeat: repeat-y;
		width: 80vw;
		bottom: 8rem;
	}
}

.title-container {
	color: white;
	background-color: #0D6EFD;
	width: 215px;
	height: 4rem;
	text-align: center;
	margin: auto;
	border-radius: 10px;
	margin-top: 20px;
}

.title-container > h1 {
	line-height: 4rem;
	text-align: center;
}

.main-container {
	margin: 5%;
	margin-top: 4%;
	display: flex;
	z-index: 1;
}

.right-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.left-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;    
}

.player-label {
	text-align: center;
	margin: auto;
	width: 35vw;
	height: 45px;
	line-height: 40px;
	border: 2px solid #0D6EFD;
	color: #0D6EFD;
	font-size: 2vw;
	border-radius: 5px;
}

.player-label:hover {
	background-color:#99e699;
	cursor: pointer;
}

.board-container {
	margin-top: 20px;
	display: grid;
	grid-template-columns: 3.5vw 3.5vw 3.5vw 3.5vw 3.5vw 3.5vw 3.5vw 3.5vw 3.5vw 3.5vw;
	grid-auto-rows: 3.5vw;
	text-align: center;
	align-items: center;
	justify-items: center;
	border: 0.5em #0C6EFD solid !important;
	border-radius: 1em;
}

.board-container:hover {
	animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.disabled {
	pointer-events: none;
}

.btn {
	height: 3.5vw;
	width: 3.5vw;
}

.btn-ship {
	background-color: rgb(153, 230, 153) !important;
}

.btn-miss {
	background-color: rgb(0, 191, 255) !important;
  pointer-events: none;
}

.btn-hit {
	background-color: rgb(251, 86, 86) !important;
	color: white !important;
	pointer-events: none;
}

.btn-sunk {
	background-color: rgb(135, 135, 135) !important;
	color: white !important;
	pointer-events: none;
}



.button:hover {
	/* background-color: lightcoral !important; */
	cursor: pointer;
}

.play-again {
	background-color:#99e699;
	transform: scale(1.1);
	transition: ease 1s all;
	transition-delay: 2000ms;
}

@media only screen and (max-width: 1000px) {
	.title-container {
			height: 3rem;
			width: 175px;
			margin-bottom: 1rem;
	}
	.title-container > h1 {
			line-height: 3rem;
			font-size: 2rem;
	}
	.main-container {
			margin: 0;
			flex-direction: column;
			margin-bottom: 2rem;
	}
	.container {
			margin: auto;
			display: flex;
			flex-direction: column;
	}
	.container > div {
			display: flex;
			flex-direction: column;
			margin-bottom: 0.5rem;
	}
	.container > div > .board-container > .btn{
			font-size: 12px;
	}

	.btn {
			height: 8vw;
			width: 8vw;
	}

	.board-container {
			margin-top: 10px;
			grid-template-columns: 8vw 8vw 8vw 8vw 8vw 8vw 8vw 8vw 8vw 8vw;
			grid-auto-rows: 8vw;
	}

	.player-label {
			margin-top: 1rem;
			height: 50px;
			line-height: 50px;
			width: 55vw;
			font-size: 3vw;
	}
}